<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Reset Password</title>
</head>
<body>
<h1>Reset Password</h1>
<p>Click the link below to reset your password.</p>
<a href="{{.URL}}">Reset Password</a>
<p>If you did not request a password reset, no further action is required.</p>
<p>Regards, <br> fusion</p>
</body>
</html>