<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Verify Email</title>
</head>
<body>
<h1>Verify Email</h1>
<p>Click the link below to verify your email address.</p>
<a href="{{.URL}}">Verify Email</a>
<p>If you did not create an account, no further action is required.</p>
<p>Regards, <br>fusion</p>
</body>
</html>